.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F5F5F5;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.authForm {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 400px;
}

.authInput {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.rememberMe {
  display: flex;
  align-items: center;
}

.forgotPassword {
  color: #003F88;
  cursor: pointer;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.registerLink {
  color: #003F88;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registerLink span {
  display: block;
}

.loginButton {
  background-color: #FDC503;
  color: black;
  font-size: 16px;
  min-width: 150px;
  font-family: 'Nunito';
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}

.loginButton:hover {
  background-color: #cb9f00;
}

.nolink {
  text-decoration: none;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .authForm {
    min-width: 100%;
    padding: 1rem;
  }

  .formFooter {
    flex-direction: column;
    gap: 1rem;
  }

  .loginButton {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .authForm {
    padding: 1rem;
    margin-top: 80px;
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .formFooter {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .loginButton {
    width: 100%;
    height: auto;
  }
}
.success {
  color: green;
  margin-bottom: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.passwordContainer {
  position: relative;
}

.showPasswordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0070f3;
}
