.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    background-color: #FDC503; 
    border: 1px solid #00509D;
    border-radius: 8px;
    margin: 1rem;
  }
  