/* src/styles/Layout.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #fff; 
  border-right: 1px solid #FDC503;
  border-left: 1px solid #FDC503;
  border-radius: 0;
  margin: 1rem;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .content {
    margin: 0;
    border: none;
    border-top: 1px solid #FDC503;
    border-bottom: 1px solid #FDC503;
  }
}
