.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  position: relative;
  font-family: 'Nunito';
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  flex-shrink: 0;
}

.modalContent {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  font-family: 'Nunito';
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Nunito';
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nunito';
}

.buttons button:first-child {
  background-color: #f0f0f0;
}

.buttons button:last-child {
  background-color: #00509d;
  color: white;
}

.itemGroup {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Nunito';
}

.itemGroup h3 {
  margin-top: 0;
}

.removeItemButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-family: 'Nunito';
  transition: 0.2s;
}

.removeItemButton:hover {
  background-color: darkred;
}

.addItemButton {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #FDC503;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addItemButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.addItemButton:hover:not(:disabled) {
  background-color: #E5B802;
}

@media (max-width: 768px) {
  .modal {
    padding: 1rem;
    max-width: 90%;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .buttons button {
    width: 100%;
    padding: 10px;
  }
}
