.container {
    display: flex;
    justify-content: center;
  }
  
  .content {
    width: 100%;
    padding-left: 20px;
  }
  
  .addressBlock {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  .addressHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  

  .addButton, .addBalanceButton {
    background-color: #FDC503;
    color: #003F88;
    border: none;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    font-family: 'Nunito';
    font-weight: 300;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
  
    transition: 0.5s;
  }
  
  .addButton:hover{
    background-color: #ffd94f;
  }
  

  .express, .standard {
    padding: 10px;
    background-color: #FDC503;
    color: #003F88;
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: 300;
    transition: 0.5s;
    border: none;
    border-radius: 8px;
  }

  .express:hover{
    background-color: #ffd94f;
  }
  
  .addressDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .addressDetails div {
    display: flex;
    flex-direction: column;
  }
  
  .addressDetails label {
    font-weight: bold;
  }
  