/* src/styles/RightPanel.module.css */
.rightPanel {
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightPanel .block {
  background-color: #e3e3e3;
  padding: 1rem;
  border-radius: 4px;
}

.rightPanel .block h3 {
  margin-top: 0;
}

.rightPanel .block p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .rightPanel {
    width: 100%;
    padding-right: 20px;
  }
  .rightPanel .block {
    margin-right: 28px;
  }
}
