/* src/styles/Sidebar.module.css */
.sidebar {
  width: 20%;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addButton, .addBalanceButton {
  background-color: #FDC503;
  color: #003F88;
  border: none;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-family: 'Nunito';
  font-weight: 300;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;

  transition: 0.5s;
}

.addButton:hover{
  background-color: #ffd94f;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #00509D;
  margin: 1rem 0;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin: 0.5rem 0;
}

.navLink, .menuButton {
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  font-family: 'Nunito';
  font-size: 20px;
  padding: 0;
  border-bottom: 1px solid #fff;
  transition: 1s;
}

.navLink:hover, .menuButton:hover {
  font-size: 21px;
  border-bottom: 1px solid #FDC503;
}

.submenu {
  list-style: none;
  padding-left: 1rem;
  margin: 0.5rem 0 0;
}

.submenuItem {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .addButton{
    width: 60%;
    text-align: center;
    margin: 10 auto;
  }

  .navLink, .menuButton {
    font-size: 18px;
  }

  .navLink:hover, .menuButton:hover {
    font-size: 19px;
  }
}
