.topBar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #003F88; 
    color: white;
    border-bottom: 2px solid #00509D;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .companyName {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  